fastapi==0.95.1
uvicorn==0.22.0
python-multipart==0.0.6
pydantic==1.10
typing_extensions==4.6.1
# レートリミット用。機能追加する時に入れる
# fastapi-limiter==0.1.5

# formater
black==23.11.0

# code checker
flake8

# 認証関連
PyJWT==2.6.0
cryptography
passlib==1.7.4
bcrypt==4.0.1
fastapi-users==11.0.0
fastapi-users-db-sqlalchemy==5.0.0

# DB関連
alembic>=1.11.0
SQLAlchemy>=1.4.48
mysqlclient==2.1.1
SQLAlchemy-Utils==0.41.1
databases==0.4.2

# aws service
boto3>=1.28.69